* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

body {
  background-color: #3A4A84;
  color: #d1d1d1;
  font-family: 'Sora', sans-serif;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.profile-pic {
  width: 30%;
  height: 30%;
  border: 1px solid #313131;
  border-radius: 5px;
  margin-bottom: 48px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3)
}

.profile-pic:hover {
  opacity: 0.75;
}

.hobby-pic {
  width: 60%;
  border: 1px solid #313131;
  border-radius: 5px;
  margin-bottom: 96px;
  display: block;
  margin: 0 auto 96px;
}

.home-link:link, .home-link:visited {
  color: #DCB458;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 48px;
}

.home-link:hover, .home-link:active {
  font-weight: bold;
}

.line-before-next-content {
  margin-bottom: 28px;
}

li {
  margin-bottom: 8px;
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

li:last-child {
  margin-bottom: 48px;
}

h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 3rem;
  line-height: 2;
  margin-bottom: 36px;
  text-shadow: 0 10px 3px rgba(0, 0, 0, 0.5);
}

h2 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 36px;
  border: 0.1px solid #C5D2E2;
  border-radius: 10px;
  padding: 8px 32px;
  background-color: #22245D;
}

h2:hover {
  background-color: #35387A;
}

p {
  margin-bottom: 10px;
}

.last-line {
  margin-bottom: 48px;
}

.icon-small {
  width: 24px;
  height: 24px;
  color: #DCB458;
}

footer p {
  font-size: 14px;
}

header {
  position: relative;
}

header::after {
  content: "WAZZUP ?";
  font-size: 14px;
  font-weight: bold;
  background-color: #9597BD;
  border: 0.1px solid #22233B;
  padding: 5px;
  color: #0D0E2F;
  display: inline-block;
  position: absolute;
  right: 245px;
  top: 140px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
  .profile-pic {
    width: 40%;
    height: 40%;
  }
  header::after {
    display:none;
  }
  .hobby-pic {
    width: 80%;
  }
}

@media (max-width: 720px) {
  body {
    font-size: 0.9rem;
  }
  .container {
    width: 500px;
  }
  .profile-pic {
    width: 50%;
    height: 50%;
  }
  header::after {
    display:none;
  }
  .hobby-pic {
    width: 80%;
  }
}

@media (max-width: 540px) {
  body {
    font-size: 0.9rem;
  }
  .container {
    width: 300px;
  }
  .profile-pic {
    width: 80%;
    height: 80%;
  }
  header::after {
    display:none;
  }
  .hobby-pic {
    width: 100%;
  }
}
